/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* initial root properties */
:root {
  /* colors */
  /* primary */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  /* font-families */
  --ff-young-serif: "Young Serif";
  --ff-outfit: "Outfit";
  /* font-wights */
  --fw-4: 400;
  --fw-6: 600;
  --fw-7: 700;
  /* display sizes */
  --mobile: 375px;
  --desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* root font size */
html {
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  background-color: var(--eggshell);
  font-family: var(--ff-outfit);
  color: var(--wenge-brown);
}

img {
  width: 100%;
  border-radius: 0.7rem;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: var(--eggshell);
  padding: 120px;
}

.card {
  max-width: 740px;
  margin-inline: auto;
  border-radius: 1.5rem;
  background-color: var(--white);
  padding: 2.5rem;
}

h1,
h2 {
  font-family: var(--ff-young-serif);
  font-weight: var(--fw-4);
}

h1 {
  color: var(--dark-charcoal);
  font-size: 40px;
}

h2 {
  font-size: 28px;
  color: var(--nutmeg);
}

span {
  font-weight: var(--fw-7);
}

.preparation {
  background-color: var(--rose-white);
  padding: 10px 30px;
  border-radius: 0.7rem;
}

.preparation ul h3 {
  color: var(--dark-raspberry);
  font-size: 20px;
  font-weight: var(--fw-6);
  margin-top: 0;
}

ul {
  padding: 0;
}

.preparation li::marker {
  color: var(--dark-raspberry);
  font-weight: var(--fw-4);
  font-size: 12px;
}

.preparation li,
.ingredients li {
  padding-left: 18px;
  margin-bottom: 16px;
  margin-left: 22px;
  position: relative;
}

.ingredients li::marker {
  color: var(--nutmeg);
  font-weight: var(--fw-4);
  font-size: 12px;
  position: absolute;
  left: 36px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--light-grey);
  margin-top: 30px;
}

.instructions ol {
  padding-left: 24px;
}

.instructions li::marker {
  color: var(--nutmeg);
  font-weight: var(--fw-7);
  position: absolute;
}

.value {
  color: var(--nutmeg);
  font-weight: var(--fw-7);
}

.instructions li {
  padding-left: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition table tr:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}

.nutrition table td {
  padding: 16px 0;
}

.nutrition table tr td:first-of-type {
  padding: 16px 32px;
  width: 50%;
}

.attribution {
  margin-top: 2rem;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 650px) {
  h1 {
    font-size: 36px;
  }

  .container {
    padding: 0;
  }

  .card {
    padding: 0;
    max-width: 100%;
  }

  .mobile-container {
    padding: 0 2.5rem 2.5rem;
    width: 100%;
  }
}